// Border bottom of the link when hover it.
$content-link-border: 1px solid $theme-color !default;

// Background color of the blockquote.
$content-blockquote-backgroud: rgba($theme-color, 0.05) !default;

// Border color of the table.
$content-table-border-color: darken($deputy-color, 3%) !default;

article.fullpost {

  p {
    @extend %textblock;
  }

  .literalblock {
    white-space: pre-wrap;
  }

  a {
    word-break: break-all;

    &:hover {
      border-bottom: $content-link-border;
    }
  }

  .imageblock {
    text-align: center;
    @extend %oversized;
  }
}

blockquote {
  @extend %boxed;
  margin: 0;
  .paragraph {
    text-align: initial;
  }
  p {
    margin: 0;
  }
}

table {
  @extend %boxed;
  padding: 0;
  max-width: 100%;

  thead {
    background: $deputy-color;
  }

  th, td {
    padding: 5px 15px;
  }
}

.admonitionblock .icon .title::after {
  content: ':';
}

