.meta {
  color: $post-meta-font-color;

  .category {
    display: inline;

    a {
      color: inherit;

      &::before {
        content: '·';
      }

      &:hover {
        color: $theme-color;
      }
    }
  }

}