// Padding of the archive post.
$archive-post-padding: 3px 20px !default;

// Border left of the archive post, use $archive-post-hover-border-left when hover it.
$archive-post-border-left: 1px solid #cacaca !default;
$archive-post-hover-border-left: 3px solid $theme-color !default;

// Transition of the archive post when hover it.
$archive-post-hover-transition: 0.2s ease-out !default;

// Transform of the archive post when hover it.
$archive-post-hover-transform: translateX(4px) !default;

section.year article {

  padding: $archive-post-padding;
  border-left: $archive-post-border-left;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $global-body-width) {
    flex-direction: column;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  &>.category {
    text-align: right;
  }

  & > * {
    display: inline-block;
    margin-right: 0.5em;
  }

  & > a {
    flex: 1;
  }

  @media screen {
    &:hover {
      border-left: $archive-post-hover-border-left;
      transition: $archive-post-hover-transition;
      transform: $archive-post-hover-transform;

      .time, .category {
        color: darken($color-metadata, 10%);
      }

      a {
        color: darken($theme-color, 10%);
      }
    }
  }

  //.time, .category {
  //  display: inline-block;
  //  // do not break meta categories into weird linebreaks
  //  white-space: nowrap;
  //}
  //
  //.time {
  //  margin-right: 1em;
  //}

}
