@import "variables";

body {
  line-height: $global-lineheight;
  scroll-behavior: smooth;
  @media screen {
    border-top: 3px solid $theme-color;
    color: $color-font;
    background: $color-background;
  }

  @extend %mainfont;
}

main {
  padding: 1em;
  margin: 0 auto;
  max-width: $global-body-width;
}

::selection {
  background: transparentize($theme-color, 0.8);
}

img {
  max-width: 100%;
  height: auto;
  max-height: 40em;
  @include rounded-borders;
}

a {
  text-decoration: none;
  color: $theme-color;
  @media print {
    color: black;
  }
}

h1, h2, h3, h4, h5, h6, figcaption {
  font-family: $font-headers;
  font-weight: bold;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
}

.time, .category {
  @media screen {
    color: $color-metadata;
  }
}

.time {
  white-space: nowrap;
  font-family: $font-monospace;
  letter-spacing: -1px;
}