
body {
  font-family: $font-content;
  line-height: $global-lineheight;
  color: $color-font;
  background: $color-background;
  scroll-behavior: smooth;
  border-top: 3px solid $theme-color;
}

main {
  padding-top: 2em;
  padding-bottom: 2em;
  margin: 0 auto;
  max-width: $global-body-width;
}

::selection {
  background: transparentize($theme-color, 0.8);
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-headers;
  font-weight: normal;
}

.time, .category {
  color: $color-metadata;
}