article.fullpost {

  & > * {
    max-width: $common-text-width;
    @include LRautomargin;
  }

  header .metadata {
    display: flex;
    > * {
      margin-right: 0.5em;
    }
  }

  p {
    text-align: justify;
  }

  .literalblock {
    white-space: pre-wrap;
  }

  a {
    word-break: break-all;

    &:hover {
      border-bottom: 1px solid $theme-color;
    }
  }

  .imageblock {
    text-align: center;
    max-width: $common-text-width * 1.64;
  }

  img {
    max-width: 100%;
    height: auto;
    max-height: 40em;
    @include rounded-borders;
  }
}

figure {
  @include boxed;
}

blockquote {
  @include boxed;
  margin: 0;
  .paragraph {
    text-align: initial;
  }
  p {
    margin: 0;
  }
}

table {
  @include boxed;
  padding: 0;
  max-width: 100%;

  thead {
    background: $deputy-color;
  }

  th, td {
    padding: 5px 15px;
  }
}

