
// ========== TOC ========== //
// Width of the post toc.
$post-toc-width: 200px !default;

// Backgroud color of the post toc.
$post-toc-backgroud: rgba($deputy-color, 0.6) !default;

// Margin left of the post toc.
$post-toc-margin-left: $global-body-width + 20px !default;

// Font size of the post toc title.
$post-toc-title-size: large !default;

// List style of the post toc list.
$post-toc-list-style: square !default;

// Max screen media of the post toc.
$toc-max-swreen-width: 2 * $post-toc-width + $post-toc-margin-left !default;

.toc {
  position: fixed;
  width: $post-toc-width;
  margin-left: $post-toc-margin-left;
  padding: 1em;
  font-family: $font-headers;
  border-radius: 5px;
  background: $post-toc-backgroud;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
  box-sizing: border-box;

  text-align: initial;
  font-size: initial;

  #toctitle {
    display: none;
  }

  .sectlevel1 {
    ul {
      display: none;
    }
  }
}

@media screen and (max-width: $toc-max-swreen-width) {
  .toc {
    position: initial;
    margin-left: initial;
    width: auto;
    max-width: 100%;
  }
}
