
// ========== TOC ========== //
// Width of the post toc.
$post-toc-width: 5cm !default;

// Margin left of the post toc.
$post-toc-margin-left: $global-body-width !default;

// List style of the post toc list.
$post-toc-list-style: square !default;

// Max screen media of the post toc.
$toc-max-swreen-width: 2.5 * $post-toc-width + $post-toc-margin-left !default;

.toc {
  @extend %boxed;

  padding: 1em;
  box-sizing: border-box;
  max-width: 100%;

  @media screen and (min-width: $toc-max-swreen-width) {
    position: fixed;
    margin-left: $post-toc-margin-left;
    max-width: $post-toc-width;
  }

  #toctitle {
    display: none;
  }

  ul.sectlevel1 {
    // make toc spacing equal to all sides
    padding-left: 1em;
    margin: 0;
    ul {
      display: none;
    }
  }
}

