// ==============================
// Variables
// ==============================

// ========== Color ========== //

// Default theme color of the site.
$theme-color: #c05b4d !default;

// Deputy theme color of the site.
$deputy-color: #f8f5ec !default;

$color-metadata: #8a8a80 !default;
$color-background: #fffff8 !default;

$color-font: #123 !default;

// a4 paper has 21cm, subtract 1.5 inch for print margins
$global-body-width: 171.9mm !default;

$global-lineheight: 1.5 !default;

// font families in use
$font-body: sans-serif !default;
$font-postcontent: sans-serif !default;
$font-headers: serif !default;
$font-metadata: sans-serif !default;
// Browsers render just monospace in a smaller font size compared to other fonts
$font-monospace: monospace,monospace;
