// ==============================
// Variables
// ==============================

// ========== Color ========== //

// Default theme color of the site.
$theme-color: #c05b4d !default;

// Deputy theme color of the site.
$deputy-color: #f8f5ec !default;

$color-metadata: #8a8a80 !default;
$color-background: #fffff8 !default;

$color-font: #123 !default;

// a4 paper has 21cm, subtract 1.5 inch for print margins
$global-body-width: 171.9mm !default;

$global-lineheight: 1.5 !default;

// font families in use
$font-content: sans-serif !default;
$font-content-print: serif !default;
$font-headers: serif !default;
// Browsers render just monospace in a smaller font size compared to other fonts
$font-monospace: monospace,monospace;


@mixin rounded-borders {
  border-radius: 5px;
  @media screen {
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  }
}

%boxed {
  @include rounded-borders;
  padding: 1em;
  @media screen {
    background: $deputy-color;
    border-left: 3px solid $theme-color;
    color: #456;
  }
}

%oversized {
  // this super weird hack allows blocks to be bigger than the actual content, but restricts them still to the viewport
  @media screen {
    max-width: 161.8034%;
    margin-left: 50%;
    // subtracting some from the width to get same padding as main content
    width: calc(100vw - 3em);
    transform: translateX(-50%);
  }
}
